﻿h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}
.logo {
    width: 344px;
    max-width: 344px;
    min-height: 60px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1a3158 !important;
    border-color: #1a3158 !important;
}
.resultat {
  overflow-y:auto;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  line-height: 1.2;
  background:rgba(0,0,0,.1);
  max-height:400px;
  min-height:6em;
}

.search-text {
 min-height:41px;
 border-radius:3px 0 0 3px;
 border-right:0;
 background: #5c75a2;
 color: #f8f9fa;
 line-height: normal;
 padding:5px 5px 5px 5px;
}
